* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.carousel-inner {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 1320px;
  box-sizing: border-box;
}

.slick-prev:before, .slick-next:before {
  border-radius: 50%;
  border: 0.1px solid #0d6efd;
  opacity: 1;
  background-color: white;
}

.slick-next {
  right: 32px;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next:before {
  content: url(assets/images/next.png);
  padding: 8px;
}

.slick-prev:before {
  padding: 8px;
  content: url(assets/images/prev.png);
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: transparent;
}

.accordion .accordion-item {
  border: none;
  margin: 0 0 10px 0;
}

.btn:hover {
  border: 1px solid transparent;
  color: black;
  outline: none;
}

.hvr-sweep-to-left:before {
  background-color: #ffd89d;
  border: #ffd89d;
}

.btn:focus {
  border: 1px solid transparent;
  color: white;
  background-color: #ffd89d;
}

.burger {
  display: none;
}

.close {
  display: none;
}

.overflow {
  overflow: hidden;
}
